<!-- Header Section Start -->
<header class="header header-scrolled">
    <div class="top-bar-info desktop-view">
        <div class="contact-info">
            <ul>
                <li>
                    <a href="mailto:info@sankhyasolutions.com.np"
                        ><i class="ion-md-mail"></i
                        >info@sankhyasolutions.com.np</a
                    >
                </li>
                <li>
                    <a href="tel:+9779856077413">
                        <i class="ion-md-call"></i>+977 9856077413</a
                    >
                </li>
            </ul>
        </div>
        <div class="social-info">
            <a href=""><i class="ion-logo-facebook"></i></a>
            <a href=""><i class="ion-logo-linkedin"></i></a>
            <a href=""><i class="ion-logo-instagram"></i></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="logo pull-left">
            <h1>
                <a href="index.html"
                    ><img
                        src="./img/logo.png"
                        height="96px"
                        width="96px"
                        alt="Sankhya Solutions logo"
                /></a>
                <span>Sankhya Solutions</span>
            </h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active">
                    <a href="index.html">Home</a>
                </li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#blog">Blogs</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header Section End -->