@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

html {
    scroll-padding-top: 5rem;
    scroll-behavior: smooth; /* Ensure smooth scrolling is enabled */
}

/* GPU Layer Optimization */
.optimize-layer {
    backface-visibility: hidden;
    will-change: transform;
}

/* Smoother Transitions */
.optimize-transition {
    transition-property: color, background-color, transform, opacity; /* Add transform and opacity for smoother transitions */
    transition-duration: 200ms; /* Slightly reduce duration for snappier feel */
    transition-timing-function: ease-out; /* Change timing function for smoother deceleration */
}

/* Floating UI Fixes */
[data-floating-ui-portal] {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

.group:hover .group-hover\:bg-\[\#303392\] {
    transition-delay: 50ms;
}
