/* ------------------ General CSS ------------------ */
body {
    color: #656565;
    font-family: "Roboto Slab", sans-serif;
    background: #dbdbdb;
    /* overflow: hidden; */
}

a {
    color: #303392;
    transition: 0.3s;
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}

p {
    color: #656565;
    padding: 0;
    margin: 0 0 15px 0;
}

h1,
--blue h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    color: #353535;
    margin: 0 0 15px 0;
    padding: 0;
}

h4,
h5,
h6 {
    font-weight: 400;
}

/* ------------------ Back to Top ------------------ */
.back-to-top {
    position: fixed;
    display: none;
    background: #303392;
    color: #dbdbdb;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 1;
    font-size: 44px;
    right: 15px;
    bottom: 15px;
    transition: background 0.3s;
    z-index: 9;
}

.back-to-top i {
    color: #dbdbdb;
}

/* ------------------ Header CSS ------------------- */
.header {
    padding: 25px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.3s;
    z-index: 997;
}

.header .top-bar-info {
    /* background-color: red; */
    gap: 2rem;
    display: flex;
    justify-content: flex-end;
    /* background-color: skyblue; */
    padding-right: 5.5rem;
    margin-bottom: 0.75rem;
}

.header .top-bar-info .contact-info ul {
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header .top-bar-info .contact-info ul li {
    list-style: none;
}

.header .top-bar-info .contact-info ul li a i {
    margin-right: 0.5rem;
}
.header .top-bar-info .contact-info ul li a:hover {
    color: #353535;
    transition: all 0.3s;
}
.header .top-bar-info .contact-info ul li a i:hover {
    color: #353535;
    transition: all 0.3s;
}

.header .top-bar-info .contact-info ul li a:visited {
    color: #353535;
    transition: all 0.3s;
}
.header .top-bar-info .contact-info ul li a i:visited {
    color: #353535;
    transition: all 0.3s;
}
.header .top-bar-info .social-info {
    display: flex;
    gap: 0.5rem;
    /* background-color: red; */
}

.header .top-bar-info .social-info a i {
    font-size: 1.5rem;
}
.header .top-bar-info .social-info a:hover {
    color: #353535;
    transition: all 0.3s;
}
.header .top-bar-info .social-info a i:hover {
    color: #353535;
    transition: all 0.3s;
}

.header.header-scrolled {
    background: #dbdbdb;
    padding: 20px 0;
    height: 110px;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

.header .logo {
    float: left;
}

.header .logo h1 {
    font-family: "Roboto Slab", sans-serif;
    color: #303392;
    position: relative;
    top: -2.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    letter-spacing: 2.5px;
}

/* .header .logo h1 a:hover {
    color: #ffffff;
} */

.header .logo img {
    padding: 0;
    margin: 0;
    aspect-ratio: 1;
    height: 5rem;
    width: 5rem;
}

/* ----------------- Intro Section ----------------- */
/* ================================================= */

.slider {
    display: table;
    width: 100%;
    height: 100vh;
    background: #000;
}

.slider .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.slider .carousel-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.slider .carousel-background img {
    max-width: 100%;
}

.slider .carousel-content {
    text-align: center;
}

.slider h2 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* .slider p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #ffffff;
} */

.slider .carousel-fade {
    overflow: hidden;
}

.slider .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}

.slider .carousel-fade .carousel-inner .carousel-item,
.slider .carousel-fade .carousel-inner .active.carousel-item-left,
.slider .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

.slider .carousel-fade .carousel-inner .active,
.slider .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
.slider .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.3s;
}

.slider .carousel-fade .carousel-inner .carousel-item-next,
.slider .carousel-fade .carousel-inner .carousel-item-prev,
.slider .carousel-fade .carousel-inner .active.carousel-item-left,
.slider .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slider .carousel-control-prev,
.slider .carousel-control-next {
    width: 10%;
}

.slider .carousel-control-next-icon,
.slider .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
}

.slider .carousel-indicators li {
    cursor: pointer;
}

.slider .btn-get-started {
    border-radius: 2px;
    display: inline-block;
    padding: 10px 30px;
    transition: 0.3s;
    background: #4107e0;
    color: #dbdbdb;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.slider .btn-get-started:hover {
    background: #dbdbdb;
    color: #303392;
}

/* ------------------ Menu Style ------------------- */
#nav-menu-container {
    float: right;
    margin: 0;
}

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

.nav-menu a {
    display: inline-block;
    padding: 0 8px 10px 8px;
    color: #353535;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
}

.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
    color: #303392;
}

.nav-menu > li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background: #ffffff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 5px 10px;
    color: #353535;
    transition: 0.3s;
    display: block;
    font-size: 14px;
    text-transform: none;
}

.nav-menu ul li:hover > a {
    color: #303392;
}

.nav-menu ul ul {
    margin: 0;
}

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0.85rem;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #303392;
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 999;
    background: #dbdbdb;
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #353535;
    font-size: 15px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
}

#mobile-nav ul li a:hover {
    color: #303392;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul li.menu-active a {
    color: #303392;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #ffffff;
}

#mobile-nav ul .menu-has-children i.ion-md-arrow-dropup {
    color: #303392;
}

#mobile-nav ul .menu-has-children i.dicon {
    display: none;
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none;
}

#mobile-nav ul .menu-item-active {
    color: #303392;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #ffffff;
}

/* ---------------- Banner Section ----------------- */
.banner {
    background: url("../img/banner.jpg") center top no-repeat;
    background-size: cover;
    padding: 150px 0 60px 0;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(000, 000, 000, 0.6);
    z-index: 9;
}

.banner .container {
    position: relative;
    z-index: 10;
}

.banner .banner-nav {
    text-align: center;
}

.banner .banner-box {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ffffff;
}

.banner .banner-box a {
    color: #ffffff;
}

.banner .banner-box a:hover {
    color: #303392;
}

.banner .banner-box a:first-child {
    padding-right: 15px;
    border-right: 1px solid #ffffff;
}

.banner .banner-box a:last-child {
    padding-left: 15px;
}

/* ------------- Section Header Style -------------- */

.section-header h3 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
}

.section-header h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 0;
    border-bottom: 4px dashed #353535;
    bottom: 0;
    left: calc(50% - 50px);
}

.section-header p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 30px;
}

/* ---------------- About Us Style ----------------- */
.about {
    position: relative;
    padding: 60px 0 40px 0;
    background: #ebebeb;
}

/* .about .about-row {
    margin-bottom: 1r;
} */

.about .about-row p {
    font-size: 1rem;
    font-weight: 300;
}

.about .about-col {
    background: #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.about .about-col:hover {
    box-shadow: 0px 2px 10px #dddddd;
}

.about .about-col .img {
    position: relative;
}

.about .about-col .icon {
    width: 64px;
    height: 64px;
    padding-top: 10px;
    padding-left: 1px;
    text-align: center;
    position: absolute;
    background-color: #303392;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #ffffff;
    left: calc(50% - 32px);
    bottom: -30px;
    transition: 0.3s;
}

.about .about-col i {
    font-size: 36px;
    line-height: 1;
    color: #ffffff;
    transition: 0.3s;
}

.about .about-col:hover .icon {
    background-color: #ffffff;
}

.about .about-col:hover i {
    color: #303392;
}

.about .about-col h2 {
    color: #353535;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 40px 0 12px 0;
}

.about .about-col h2 a {
    color: #353535;
}

.about .about-col h2 a:hover {
    color: #303392;
}

.about .about-col p {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    padding: 0 30px;
}

.about .read-more {
    width: 100%;
    text-align: center;
}

.about .read-more a {
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 15px;
    transition: 0.3s;
    margin: 15px 30px 30px 30px;
    color: #ffffff;
    background: #303392;
}

.about .about-col:hover .read-more a,
.about .read-more a:hover {
    background: #353535;
    color: #ffffff;
}

.about .about-row .read-more {
    text-align: left;
}

.about .about-row .read-more a {
    margin: 0;
}

/* ---------------- Services Style ----------------- */
.services {
    background: #ebebeb;
    padding: 60px 0 60px 0;
    text-align: center;
}

.services .section-header p {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.single-service {
    position: relative;
    text-align: center;
    color: #353535;
    font-weight: 400;
    margin: 30px 0 0;
    transition: all 0.3s;
}

.single-service img {
    height: 4rem;
    width: 4rem;
    /* font-size: 64px; */
    color: #303392;
    margin-bottom: 1rem;
}

.single-service h4,
.single-service h4 a {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    color: #353535;
}

.single-service p {
    font-size: 0.75rem;
    font-weight: 400;
    text-align: left;
    /* font-weight: 600; */
    margin: 0;
}

/* ----------------- Blog Style --------------- */
.blog {
    position: relative;
    padding: 60px 0 45px 0;
    background: #ebebeb;
}

.blog #blog-flters {
    padding: 0;
    margin: 0 0 16px 0;
    list-style: none;
    text-align: center;
    font-size: 0;
}

.blog #blog-flters li {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: #353535;
    margin-bottom: 4px;
    transition: all 0.3s;
    cursor: pointer;
}

.blog #blog-flters li:hover,
.blog #blog-flters li.filter-active {
    background: #303392;
    color: #ffffff;
}

.blog #blog-flters li:last-child {
    margin-right: 0;
}

.blog .blog-wrap {
    margin-top: 10px;
}

.blog .blog-wrap:hover {
    box-shadow: 0px 0px 10px #666666;
}

.blog .blog-item {
    position: relative;
    height: 260px;
    overflow: hidden;
}

.blog .blog-item figure {
    background: #000;
    overflow: hidden;
    height: 230px;
    position: relative;
    border-radius: 0;
    margin: 0;
}

.blog .blog-item figure img {
    opacity: 0.2;
    transition: 0.3s;
}

.blog .blog-item figure:hover img {
    opacity: 0.3;
    transition: 0.3s;
}

.blog .blog-item figure .link-preview,
.blog .blog-item figure .link-details {
    position: absolute;
    transform: translateX(55%);
    display: inline-block;
    padding: 7px 0;
    line-height: 1;
    text-align: center;
    width: 60px;
    height: 36px;
    background: #303392;
    border-radius: 20px;
    transition: 0.3s;
    /* position: relative; */
    /* left: 50px; */
    opacity: 0;
}

.blog .blog-item figure .link-preview i,
.blog .blog-item figure .link-details i {
    font-size: 22px;
    color: #ffffff;
}

.blog .blog-item figure .link-preview:hover,
.blog .blog-item figure .link-details:hover {
    background: #ffffff;
}

.blog .blog-item figure .link-preview:hover i,
.blog .blog-item figure .link-details:hover i {
    color: #353535;
}

.blog .blog-item figure .link-preview {
    left: calc(50% - 65px);
    top: calc(50% - 18px);
}

.blog .blog-item figure .link-details {
    right: calc(50% - 65px);
    top: calc(50% - 18px);
}

.blog .blog-item figure:hover .link-preview {
    opacity: 1;
}

.blog .blog-item figure:hover .link-details {
    opacity: 1;
}

.blog .blog-item .blog-info {
    position: absolute;
    top: calc(50% - 30px);
    left: 15px;
    right: 15px;
    padding: 0 1.5rem;
    /* white-space: wrap; */
    text-align: center;
    z-index: 1;
}

.blog .blog-wrap:hover .blog-info {
    z-index: -1;
}

.blog .blog-item .blog-info h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 18px;
    padding-bottom: 0;
}

.blog .blog-item .blog-info p {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}

/* ------------------- Team Style ------------------ */
.team {
    padding: 60px 0;
}

.team .section-header {
    margin-bottom: 15px;
}

.team .card {
    /* position: relative; */
    border: none;
    border-radius: 0;
    /* overflow: hidden; */
    transition: 0.3s;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    /* padding-left: 1rem; */
    /* gap: 2rem; */
    /* height: 90%; */
    /* background-color: red; */
    /* min-width: fit-content; */
}

.team .card:hover {
    box-shadow: 0px 0px 10px #999999;
}
/* .team .card a {
    display: flex;
    flex-wrap: nowrap;
} */

.team .card img {
    width: 30%;
    height: max-content;
    object-fit: cover;
}

.team .card-title-wrap {
    /* height: 100px; */
    padding: 10px 10px;
    /* position: relative; */
    /* background-color: red; */
}

.team .card:hover .card-title-wrap {
    background: #303392;
}

.team .card-title-wrap .card-title,
.team .card-title-wrap .card-text {
    display: block;
    /* word-wrap: wrap; */
    white-space: pre-line;
    margin: 0;
}

.team .card-title-wrap .card-title {
    white-space: pre-line;
    /* background-color: red */
    text-align: center;
    font-size: 18px;
    color: #353535;
}

.team .card-title-wrap .card-text {
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.team .card:hover .card-title-wrap .card-title,
.team .card:hover .card-title-wrap .card-text {
    color: #ffffff;
}

/* --------------- Testimonials Style -------------- */
.testimonials {
    position: relative;
    padding: 60px 0;
    background: #ebebeb;
}

.testimonials .container {
    max-width: 900px;
}

.testimonials .section-header {
    margin-bottom: 20px;
}

.testimonials .testimonial-item {
    position: relative;
    background: #ffffff;
}

.testimonials .testimonial-text {
    padding: 25px 25px 25px 0;
}

.testimonials .testimonial-item img {
    background: #353535;
}

.testimonials .testimonial-item h3 {
    font-size: 20px;
    color: #353535;
    margin-bottom: 0;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999999;
    margin: 0 0 15px 0;
}

.testimonials .testimonial-item p {
    font-size: 14px;
    margin: 0;
}

.testimonials .owl-nav,
.testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #dddddd;
}

.testimonials .owl-dot.active {
    background-color: #303392;
}

@media (max-width: 575px) {
    .testimonials .testimonial-text {
        padding: 25px;
    }
}

/* ----------------- Contact Style ----------------- */
.contact {
    position: relative;
    padding: 60px 0;
    background: #f2f2f2;
}

.contact .container {
    max-width: 900px;
}

.contact .contact-info {
    margin-bottom: 30px;
    text-align: center;
}

.contact .contact-address,
.contact .contact-phone,
.contact .contact-email {
    background: #ffffff;
    padding: 15px 30px 25px 30px;
    text-align: center;
    color: #353535;
}

.contact .contact-address:hover,
.contact .contact-phone:hover,
.contact .contact-email:hover {
    box-shadow: 0 0 10px #dddddd;
}

.contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    color: #303392;
}

.contact .contact-info address,
.contact .contact-info p {
    margin-bottom: 0;
    font-size: 14px;
    color: #353535;
}

.contact .contact-info h3 {
    font-size: 14px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #353535;
}

.contact .contact-info a {
    color: #353535;
}

.contact .contact-info a:hover {
    color: #303392;
}

.contact .map {
    position: relative;
    background: #ffffff;
}

.contact .map:hover {
    box-shadow: 0 0 10px #cccccc;
}

.contact .map iframe {
    width: 100%;
    height: 380px;
    margin-bottom: -7px;
}

.contact .form {
    background: #ffffff;
    padding: 30px;
    color: #353535;
}

.contact .form:hover {
    box-shadow: 0 0 10px #dddddd;
}

.contact .form input,
.contact .form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
}

.contact .form input:focus,
.contact .form textarea:focus {
    border-color: #303392;
}

.contact .form button[type="submit"] {
    background: #303392;
    border: 0;
    padding: 10px 30px;
    color: #ffffff;
    transition: 0.4s;
    cursor: pointer;
}

.contact .form button[type="submit"]:hover {
    background: #353535;
}

/* ----------------- Footer Style ------------------ */
.footer {
    position: relative;
    padding: 0 0 10px 0;
    background: #000000;
}

.footer .footer-top {
    background: #303392;
    padding: 10px 0 0px 0;
}

.footer .footer-top .footer-info,
.footer .footer-top .footer-links,
.footer .footer-top .footer-contact,
.footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

.footer .footer-top .footer-info h3 {
    font-size: 34px;
    padding: 2px 0 2px 0px;
    line-height: 1;
    color: #ffffff;
}

.footer .footer-top .footer-info p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

.footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ffffff;
    color: #303392;
    line-height: 1;
    padding: 9px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    background: #353535;
    color: #ffffff;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ffffff;
    font-size: 16px;
}

.footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #ffffff;
    padding: 7px 0;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    font-size: 14px;
    color: #ffffff;
}

.footer .footer-top .footer-links ul a:hover {
    color: #353535;
}

.footer .footer-top .footer-contact p {
    color: #ffffff;
    font-size: 14px;
    line-height: 26px;
}

.footer .footer-top .container .row .footer-contact {
    /* display: flex; */
    gap: 5rem;
    white-space: nowrap;
    width: 100vw;
    /* background-color: white; */
}
.footer .footer-top .container .row .footer-contact .social-links {
    gap: 1rem;
    display: flex;
}

.footer .copyright {
    text-align: center;
    padding-top: 30px;
}

/* ---------------- Responsive Design -------------- */
@media (min-width: 1180px) {
    .header .logo {
        padding-left: 60px;
        position: relative;
        top: -25px;
    }

    .slider p {
        width: 60%;
    }

    .slider .carousel-control-prev,
    .slider .carousel-control-next {
        width: 5%;
    }

    #nav-menu-container {
        padding-right: 60px;
    }

    .footer .footer-top .container .row .footer-contact {
        display: flex;
    }
}

@media (max-width: 1180px) {
    .header .top-bar-info {
        padding-right: 1.5rem;
    }

    .header .logo h1 {
        position: relative;
        top: -65px;
        font-size: 28px;
    }

    .header .logo img {
        margin-right: 1rem;
    }
    .footer .footer-top .container .row .footer-contact {
        display: flex;
    }
}

@media (max-width: 1042px) {
    .header .logo h1 span {
        top: 1.5rem;
    }
}

@media (max-width: 940px) {
    .back-to-top {
        bottom: 15px;
    }

    .header .logo h1 span {
        position: relative;
        top: 0;
    }

    .header .logo h1 {
        position: relative;
        top: -10px;

        font-size: 28px;
    }

    .header .logo img {
        margin-right: 1rem;
        max-height: 100%;
    }

    #nav-menu-container {
        display: none;
    }

    .header .top-bar-info {
        display: none;
    }

    #mobile-nav-toggle {
        display: inline;
    }
}

@media (max-width: 851px) {
    .slider h2 {
        font-size: 28px;
    }
    .footer .footer-top .container .row .footer-contact {
        display: block;
    }
}

@media (max-width: 454px) {
    .header .logo h1 span {
        font-size: 1.25rem;
    }
    .header .logo h1 a image {
        width: 20px;
    }
}

@media (max-width: 380px) {
    .header .logo h1 span {
        font-size: 1rem;
    }
}
