---
title: Sankhya Solutions
layout: 'base.njk'
---



<!-- Slider Section Start-->
<section class="slider">
    <div class="slider-container">
        <div
            id="carousel"
            class="carousel slide carousel-fade"
            data-ride="carousel"
        >
            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-background">
                        <img src="img/slider-1.jpg" alt="" />
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Analytics and Business Solution</h2>

                            <a href="#contact" class="btn-get-started"
                                >Get Started</a
                            >
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background">
                        <img src="img/slider-2.jpg" alt="" />
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Survey Designing and Data Collection</h2>

                            <a href="#contact" class="btn-get-started"
                                >Get Started</a
                            >
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background">
                        <img src="img/slider-3.jpg" alt="" />
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Research & Policy Analysis</h2>

                            <a href="#contact" class="btn-get-started"
                                >Get Started</a
                            >
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-background">
                        <img src="img/slider-4.jpg" alt="" />
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Training and Skills Development</h2>

                            <a href="#contact" class="btn-get-started"
                                >Get Started</a
                            >
                        </div>
                    </div>
                </div>
            </div>

            <a
                class="carousel-control-prev"
                href="#carousel"
                role="button"
                data-slide="prev"
            >
                <span
                    class="carousel-control-prev-icon ion-md-arrow-back"
                    aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
            </a>

            <a
                class="carousel-control-next"
                href="#carousel"
                role="button"
                data-slide="next"
            >
                <span
                    class="carousel-control-next-icon ion-md-arrow-forward"
                    aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<!-- Slider Section End-->

<!-- About Us Section Start-->
<section class="about" id="about">
    <div class="container">
        <header class="section-header">
            <h3>Introduction</h3>
            <p>
                Sankhya Solutions is a data analytics and consultancy
                organization that helps enterprises and governments achieve
                accelerated impact by providing data driven insights.We are a
                team of young professionals, scholars, working towards a common
                goal of making a difference in society by harnessing the power
                of research and data.
            </p>
        </header>

        <div class="row align-items-center about-row"></div>

        <div class="row about-cols">
            <div class="col-md-4">
                <div class="about-col">
                    <div class="img">
                        <img
                            src="img/about-mission.jpg"
                            alt=""
                            class="img-fluid"
                        />
                        <div class="icon">
                            <i class="ion-ios-disc"></i>
                        </div>
                    </div>
                    <h2 class="title"><a href="#">Our Mission</a></h2>
                    <p class="margin-b">
                        Aenean volutpat, dolor eu finibus rhoncus, elit felis
                        vehicula nunc, ut pulvinar ex diam nec lacus. Phasellus
                        sit amet rhoncus turpis. Aenean tincidunt auctor purus,
                        ac sodales sapien sagittis
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="about-col">
                    <div class="img">
                        <img
                            src="img/about-vision.jpg"
                            alt=""
                            class="img-fluid"
                        />
                        <div class="icon">
                            <i class="ion-ios-eye"></i>
                        </div>
                    </div>
                    <h2 class="title"><a href="#">Our Vision</a></h2>
                    <p class="margin-b">
                        Aenean volutpat, dolor eu finibus rhoncus, elit felis
                        vehicula nunc, ut pulvinar ex diam nec lacus. Phasellus
                        sit amet rhoncus turpis. Aenean tincidunt auctor purus,
                        ac sodales sapien sagittis
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="about-col">
                    <div class="img">
                        <img
                            src="img/about-objective.jpg"
                            alt=""
                            class="img-fluid"
                        />
                        <div class="icon">
                            <i class="ion-ios-options"></i>
                        </div>
                    </div>
                    <h2 class="title"><a href="#">Our Objective</a></h2>
                    <p class="margin-b">
                        Aenean volutpat, dolor eu finibus rhoncus, elit felis
                        vehicula nunc, ut pulvinar ex diam nec lacus. Phasellus
                        sit amet rhoncus turpis. Aenean tincidunt auctor purus,
                        ac sodales sapien sagittis
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->

<!-- Services Section Start -->
<section id="services" class="services">
    <div class="container">
        <header class="section-header">
            <h3>Services</h3>
            <p>We have following services</p>
        </header>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="single-service">
                    <img src="./img/bulb-icon.svg" alt="survey icon" />
                    <h4>
                        <a href="">Survey Designing and Data Collection</a>
                    </h4>
                    <p>
                        We provide access to extensive datasets on Nepal's
                        economy, aggregated from various sources. <br />
                        <br />
                        Whether for industry-specific, company-specific, or
                        macro-level data, we address all data-related concerns
                        using the latest technology and methodology.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="single-service">
                    <img
                        src="./img/increase-up-profit-icon.svg"
                        alt="Analytics icon"
                    />
                    <h4>
                        <a href="">Analytics and Business Solutions</a>
                    </h4>
                    <p>
                        Data Analytics initiatives help businesses increase
                        revenues, improve operational efficiency and customer
                        experience, respond more quickly to emerging market
                        trends and gain a competitive edge over rivals.
                        <br /><br />
                        We help organizations achieve desired outcomes using
                        artificial intelligence and machine learning.
                        <br /><br />
                        Our expertise also includes predictive analytics,
                        business dashboards and intelligent automation.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="single-service">
                    <img src="./img/training-icon.svg" alt="Training icon" />
                    <h4>
                        <a href="">Training and Skills Development</a>
                    </h4>
                    <p>
                        We conduct various training and skill development
                        sessions for corporate employees, researchers and
                        students on multifarious areas of survey designing and
                        data collection, statistics, research methodology,
                        business analytics and policy evaluation. <br />
                        <br />
                        We provide extensive hands-on training to ameliorate
                        your analytical and technical expertise. <br />
                        <br />
                        We organize regular training sessions on MS Excel, SPSS,
                        Stata, R, Python, Eviews and GIS.
                    </p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="single-service">
                    <img src="./img/analysis-icon.svg" alt="Research icon" />
                    <h4><a href="">Research and Policy Analysis</a></h4>
                    <p>
                        We extend our support to data-driven policy formulation
                        to Government both at central and province level, and
                        private corporations. <br />
                        <br />
                        We provide policy recommendations on different
                        macroeconomic issues. <br />
                        <br />
                        We have partnered with various government and
                        non-government organizations and facilitated them to
                        conduct research and design the policies.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Blog Section Start -->
<section class="blog" id="blog">
    <div class="container">
        <header class="section-header">
            <h3 class="section-title">Blogs</h3>
            <p>Check out some blogs and articles from us.</p>
        </header>

        <div class="row blog-container">
            <div class="col-lg-4 col-md-6 blog-item web-des">
                <div class="blog-wrap">
                    <figure>
                        <img
                            src="img/portfolio-1.png"
                            class="img-fluid"
                            alt="Blog"
                        />
                        <a
                            href="img/portfolio-1.png"
                            data-lightbox="blog"
                            data-title="Let’s look at the Covid-19 cases in Nepal (Province wise)"
                            class="link-preview"
                            title="Preview"
                            ><i class="ion-md-eye"></i
                        ></a>
                    </figure>

                    <div class="blog-info">
                        <h4>
                            Let’s look at the Covid-19 cases in Nepal (Province
                            wise)
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 blog-item web-dev">
                <div class="blog-wrap">
                    <figure>
                        <img
                            src="img/portfolio-1.png"
                            class="img-fluid"
                            alt="Blog"
                        />
                        <a
                            href="img/portfolio-1.png"
                            class="link-preview"
                            data-lightbox="blog"
                            data-title="How to save the economy from the pandemic"
                            title="Preview"
                            ><i class="ion-md-eye"></i
                        ></a>
                    </figure>

                    <div class="blog-info">
                        <h4>How to save the economy from the pandemic</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 blog-item app-des">
                <div class="blog-wrap">
                    <figure>
                        <img
                            src="img/portfolio-1.png"
                            class="img-fluid"
                            alt="Blog"
                        />
                        <a
                            href="img/portfolio-1.png"
                            class="link-preview"
                            data-lightbox="blog"
                            data-title="Agriculture modernisation: Basic things should be fixed"
                            title="Preview"
                            ><i class="ion-md-eye"></i
                        ></a>
                    </figure>

                    <div class="blog-info">
                        <h4>
                            Agriculture modernisation: Basic things should be
                            fixed
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 blog-item app-dev">
                <div class="blog-wrap">
                    <figure>
                        <img
                            src="img/portfolio-1.png"
                            class="img-fluid"
                            alt="Blog"
                        />
                        <a
                            href="img/portfolio-1.png"
                            data-lightbox="blog"
                            data-title="India’s run for a digital payment and banking system"
                            class="link-preview"
                            title="Preview"
                            ><i class="ion-md-eye"></i
                        ></a>
                    </figure>

                    <div class="blog-info">
                        <h4>
                            India’s run for a digital payment and banking system
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 blog-item web-des">
                <div class="blog-wrap">
                    <figure>
                        <img
                            src="img/portfolio-1.png"
                            class="img-fluid"
                            alt="Blog"
                        />
                        <a
                            href="img/portfolio-1.png"
                            class="link-preview"
                            data-lightbox="blog"
                            data-title="Food insecurity likely in the post-corona world"
                            title="Preview"
                            ><i class="ion-md-eye"></i
                        ></a>
                    </figure>

                    <div class="blog-info">
                        <h4>Food insecurity likely in the post-corona world</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 blog-item web-dev">
                <div class="blog-wrap">
                    <figure>
                        <img
                            src="img/portfolio-1.png"
                            class="img-fluid"
                            alt="Blog"
                        />
                        <a
                            href="img/portfolio-1.png"
                            class="link-preview"
                            data-lightbox="blog"
                            data-title="Capitalism: Analyzing through the Lens of Karl Marx"
                            title="Preview"
                            ><i class="ion-md-eye"></i
                        ></a>
                    </figure>

                    <div class="blog-info">
                        <h4>
                            Capitalism: Analyzing through the Lens of Karl Marx
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 blog-item web-dev">
                <div class="blog-wrap">
                    <figure>
                        <img
                            src="img/portfolio-1.png"
                            class="img-fluid"
                            alt="Blog"
                        />
                        <a
                            href="img/portfolio-1.png"
                            class="link-preview"
                            data-lightbox="blog"
                            data-title="Digital Banking in Nepal and its road ahead"
                            title="Preview"
                            ><i class="ion-md-eye"></i
                        ></a>
                    </figure>

                    <div class="blog-info">
                        <h4>Digital Banking in Nepal and its road ahead</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 blog-item web-dev">
                <div class="blog-wrap">
                    <figure>
                        <img
                            src="img/portfolio-1.png"
                            class="img-fluid"
                            alt="Blog"
                        />
                        <a
                            href="img/portfolio-1.png"
                            class="link-preview"
                            data-lightbox="blog"
                            data-title="Farming profession: There is need of attitudinal fix"
                            title="Preview"
                            ><i class="ion-md-eye"></i
                        ></a>
                    </figure>

                    <div class="blog-info">
                        <h4>
                            Farming profession: There is need of attitudinal fix
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 blog-item web-dev">
                <div class="blog-wrap">
                    <figure>
                        <img
                            src="img/portfolio-1.png"
                            class="img-fluid"
                            alt="Blog"
                        />
                        <a
                            href="img/portfolio-1.png"
                            class="link-preview"
                            data-lightbox="blog"
                            data-title="Rise of Cryptocurrencies -Bubble or Beast"
                            title="Preview"
                            ><i class="ion-md-eye"></i
                        ></a>
                    </figure>

                    <div class="blog-info">
                        <h4>Rise of Cryptocurrencies -Bubble or Beast</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Team Section Start -->
<section class="team">
    <div class="container">
        <header class="section-header">
            <h3 class="section-title">Meet our team</h3>
            <p>Meet out enthusiastic and hardworking team members.</p>
        </header>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                    <img alt="" class="team-img" src="img/male-employee.jpeg" />

                    <div class="card-title-wrap">
                        <span class="card-title">Bishnu Giri</span>
                        <span class="card-text"
                            >Statistician & AI/ML Enthusiast</span
                        >
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                    <img alt="" class="team-img" src="img/male-employee.jpeg" />
                    <div class="card-title-wrap">
                        <span class="card-title">Indra Giri</span>
                        <span class="card-text"
                            >Research & Policy Design Expert</span
                        >
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                    <img alt="" class="team-img" src="img/male-employee.jpeg" />
                    <div class="card-title-wrap">
                        <span class="card-title">Krishna Sharma</span>
                        <span class="card-text"
                            >Researcher & Macroeconomics Policy Analysis
                            Expert</span
                        >
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                    <img alt="" class="team-img" src="img/male-employee.jpeg" />
                    <div class="card-title-wrap">
                        <span class="card-title">Praval Sharma</span>
                        <span class="card-text"
                            >Data ANalytics & AI/ML Enthusiast</span
                        >
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                    <img alt="" class="team-img" src="img/male-employee.jpeg" />
                    <div class="card-title-wrap">
                        <span class="card-title">Ram Narayan Shrestha</span>
                        <span class="card-text"
                            >Researcher & Policy Analysis Expert</span
                        >
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                    <img alt="" class="team-img" src="img/male-employee.jpeg" />
                    <div class="card-title-wrap">
                        <span class="card-title">Sumit Sharma</span>
                        <span class="card-text">Economist</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                    <img alt="" class="team-img" src="img/male-employee.jpeg" />
                    <div class="card-title-wrap">
                        <span class="card-title">Bijeta Shrestha</span>
                        <span class="card-text">Economist and GESI Expert</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Testimonials Section Start -->
<section class="testimonials">
    <div class="container">
        <header class="section-header">
            <h3 class="section-title">Testimonials</h3>
            <p>This is what our dear customers say about us.</p>
        </header>

        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item row align-items-center">
                <div class="col-sm-3">
                    <div class="testimonial-img">
                        <img
                            src="img/testimonial-1.jpg"
                            alt="Testimonial image"
                        />
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="testimonial-text">
                        <h3>Sita Gautam</h3>
                        <h4>businesswoman</h4>
                        <p>
                            Nullam vulputate nunc diam, non congue est
                            vestibulum ut. Curabitur placerat mauris non nisi
                            cursus commodo. Integer dolor augue, maximus
                            interdum pretium a, mattis ut mi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="testimonial-item row align-items-center">
                <div class="col-sm-3">
                    <div class="testimonial-img">
                        <img
                            src="img/testimonial-2.jpg"
                            alt="Testimonial image"
                        />
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="testimonial-text">
                        <h3>Sita Gautam</h3>
                        <h4>businesswoman</h4>
                        <p>
                            Nullam vulputate nunc diam, non congue est
                            vestibulum ut. Curabitur placerat mauris non nisi
                            cursus commodo. Integer dolor augue, maximus
                            interdum pretium a, mattis ut mi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="testimonial-item row align-items-center">
                <div class="col-sm-3">
                    <div class="testimonial-img">
                        <img
                            src="img/testimonial-3.jpg"
                            alt="Testimonial image"
                        />
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="testimonial-text">
                        <h3>Sita Gautam</h3>
                        <h4>businesswoman</h4>
                        <p>
                            Nullam vulputate nunc diam, non congue est
                            vestibulum ut. Curabitur placerat mauris non nisi
                            cursus commodo. Integer dolor augue, maximus
                            interdum pretium a, mattis ut mi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Section End -->

<!-- Contact Section Start -->
<section class="contact" id="contact">
    <div class="container">
        <div class="section-header">
            <h3 class="section-title">Contact Us</h3>
            <p>
                Contact us to enhance your skills, improve business performance,
                or access comprehensive data analysis of your organization.
            </p>
        </div>

        <div class="row contact-info">
            <div class="col-md-4">
                <div class="contact-address">
                    <i class="ion-md-pin"></i>
                    <h3>Address</h3>
                    <address>Putalisadak,Kathmandu, Nepal</address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="ion-md-call"></i>
                    <h3>Phone Number</h3>
                    <p>
                        <a href="tel:+9779856077413">+977 9856077413</a>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-email">
                    <i class="ion-md-mail"></i>
                    <h3>Email</h3>
                    <p>
                        <a href="mailto:info@sankhyasolutions.com.np"
                            >info@sankhyasolutions.com.np</a
                        >
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d175.93282144112675!2d85.32128764397885!3d27.703232106421627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19a851d21aa7%3A0x1514f22a42153099!2sShanker%20Dev%20Campus!5e1!3m2!1sen!2snp!4v1720340742862!5m2!1sen!2snp"
                        width="600"
                        height="450"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                    ></iframe>
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d175.93282144112675!2d85.32128764397885!3d27.703232106421627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19a851d21aa7%3A0x1514f22a42153099!2sShanker%20Dev%20Campus!5e1!3m2!1sen!2snp!4v1720340742862!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <form
                        class="contactForm"
                        action="https://api.web3forms.com/submit"
                        method="POST"
                    >
                        <input
                            type="hidden"
                            name="access_key"
                            value="d1851477-681d-43e7-9485-92255f85a813"
                        />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input
                                    type="text"
                                    name="name"
                                    required
                                    class="form-control"
                                    placeholder="Your Name"
                                />
                            </div>
                            <div class="form-group col-md-6">
                                <input
                                    type="email"
                                    name="email"
                                    required
                                    class="form-control"
                                    placeholder="Your Email"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                name="subject"
                                class="form-control"
                                placeholder="Subject"
                            />
                        </div>
                        <div class="form-group">
                            <textarea
                                class="form-control"
                                rows="5"
                                name="message"
                                required
                                placeholder="Message"
                            ></textarea>
                        </div>
                        <div>
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->



<a href="#" class="back-to-top"><i class="ion-md-arrow-dropup"></i></a>

<!-- Vendor JS Files -->
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/jquery/jquery-migrate.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./vendor/easing/easing.min.js"></script>
<script src="./vendor/superfish/hoverIntent.js"></script>
<script src="./vendor/superfish/superfish.min.js"></script>
<script src="./vendor/waypoints/waypoints.min.js"></script>
<script src="./vendor/touchSwipe/jquery.touchSwipe.min.js"></script>
<script src="./vendor/counterup/counterup.min.js"></script>
<script src="./vendor/owlcarousel/owl.carousel.min.js"></script>
<script src="./vendor/lightbox/js/lightbox.min.js"></script>

<!-- Main Javascript File -->
<script src="./js/main.js"></script>
